<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-3.0.xsd   
        http://www.springframework.org/schema/mvc   
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd   
        http://www.springframework.org/schema/tx   
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- 默认注解映射支持 -->
	<mvc:annotation-driven />

	<!-- 自动扫描目录下所有类文件 -->
	<context:component-scan base-package="lab.io.rush.*" />

	<!-- 导入外部的properties文件 -->
	<context:property-placeholder location="classpath:redis.properties"
		ignore-unresolvable="true" />
	<context:property-placeholder location="classpath:jdbc.properties"
		ignore-unresolvable="true" />
		<context:property-placeholder location="classpath:email.properties"
		ignore-unresolvable="true" />

	<!-- 对模型视图名称的解析 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 配置JedisPoolConfig实例 -->  
	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="${redis.maxIdle}" />
		<property name="maxWaitMillis" value="${redis.maxWait}" />
		<property name="testOnBorrow" value="${redis.testOnBorrow}" />
	</bean>

	<!-- 配置JedisConnectionFactory -->  
	<bean id="connectionFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<property name="poolConfig" ref="poolConfig" />
		<property name="port" value="${redis.port}" />
		<property name="hostName" value="${redis.host}" />
		<property name="password" value="${redis.pass}" />
		<property name="timeout" value="${redis.timeout}"></property>
	</bean>

    <!-- 配置RedisTemplate -->  
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="keySerializer">
			<bean
				class="org.springframework.data.redis.serializer.StringRedisSerializer" />
		</property>
		<property name="valueSerializer">
			<bean
				class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer" />
		</property>
	</bean>
	
	 <!-- 配置RedisCacheManager -->  
    <bean id="redisCacheManager" class="org.springframework.data.redis.cache.RedisCacheManager">  
        <constructor-arg name="redisOperations" ref="redisTemplate" />  
        <property name="defaultExpiration" value="${redis.expiration}"/>  
    </bean>  
	
	<!-- 配置RedisCacheConfig -->  
    <bean id="redisCacheConfig" class="lab.io.rush.cache.redis.RedisCacheConfig">  
        <constructor-arg ref="connectionFactory" />  
        <constructor-arg ref="redisTemplate" />  
        <constructor-arg ref="redisCacheManager" />  
    </bean>  

	<!-- 配置数据池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!-- 配置 PersistenceManagerFactory -->
	<bean id="myPmf" class="org.datanucleus.api.jdo.JDOPersistenceManagerFactory"
		destroy-method="close">
		<property name="connectionFactory" ref="dataSource" />
		<property name="nontransactionalRead" value="true" />
	</bean>

	<!-- 配置事物管理器 -->
	<bean id="myTxManager" class="org.springframework.orm.jdo.JdoTransactionManager">
		<property name="persistenceManagerFactory" ref="myPmf" />
	</bean>

	<!-- 启用事务注解 -->
	<tx:annotation-driven transaction-manager="myTxManager"></tx:annotation-driven>

	<!-- 邮件服务器 -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="protocol" value="${spring.mail.protocol}" />
		<property name="host" value="${spring.mail.host}" />
		<property name="port" value="${spring.mail.port}" />
		<property name="username" value="${spring.mail.username}" />
		<property name="password" value="${spring.mail.password}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">false</prop>
				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
			</props>
		</property>
	</bean>

	<bean id="userService" class="lab.io.rush.service.impl.UserServiceImpl"></bean>
	<bean id="userDao" class="lab.io.rush.dao.impl.UserDaoImpl"></bean>
	<bean id="ticketService" class="lab.io.rush.service.impl.TicketServiceImpl"></bean>
	<bean id="ticketDao" class="lab.io.rush.dao.impl.TicketDaoImpl"></bean>
	<bean id="purchaseRecordDao" class="lab.io.rush.dao.impl.PurchaseRecordDaoImpl"></bean>
	<bean id="emailService" class="lab.io.rush.service.impl.EmailServiceImpl"></bean>
</beans>  
